# .gitignore

# Virtual environment
venv/

# Node.js dependencies
node_modules/

# Compiled Python files
*.pyc
__pycache__/

# SQLite database file
board.sqlite

# Environment variables file
.env

# Tailwind CSS build files
static/dist/