{% extends 'base.html' %}

{% block header %}
<h2 class="text-center text-4xl my-4">{% block title %}Requirements{% endblock title %}</h2>
<link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
{% endblock header %}

{% block content %}
<div class="ml-[195px] mb-5 px-5 w-3/4">
  <p class="font-semibold text-lg">Filter</p>
  <form method="post" action="{{ url_for('requirement.filter') }}">
    <div class="mb-5">
      <label for="search_query">University Name </label>
      <input type="text" id="search_query" name="search_query" class="w-[300px] rounded-xl border-black mr-3">

      <label for="region">Region </label>
      <select id="region" name="region" class="w-[300px] rounded-xl border-black mr-3">
        <option value="" selected>All</option>
        {% for region in unique_regions %}
        <option value="{{ region }}">{{ region }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="english_test">English Test</label>
      <select id="english_test" name="english_test" class='rounded-xl border-black mr-3 w-[100px]'>
        <option value="" selected>All</option>
        <option value="ielts">IELTS</option>
        <option value="toefl">TOEFL</option>
        <option value="det">DET</option>
      </select>

      <label for="english_test_score">EPT Score</label>
      <input type="text" id="english_test_score" name="english_test_score"
        class="w-[50px] rounded-xl border-black mr-[6.5px]">

      <label for="gpa">GPA </label>
      <input type="text" id="gpa" name="gpa" class="w-[50px] rounded-xl border-black mr-3">

      <label for="accept_det">EPT Accepted</label>
      <select id="accept_det" name="accept_det" class='rounded-xl border-black mr-3 w-[140px]'>
        <option value="" selected>All</option>
        <option value="det-only">DET Only</option>
        <option value="no-det">No DET</option>
      </select>

      <button type="submit"
        class="border-black border p-2 rounded-xl bg-gray-100 hover:bg-green-600 hover:text-white">Apply Filter</button>
    </div>
  </form>
</div>

<div class="relative mt-5 overflow-x-auto w-3/4 h-[500px] mx-auto mb-[50px]">
  {% if requirements != [] %}
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border-black">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 text-center sticky top-0">
      <tr>
        <th scope="col" class="px-6 py-3">University</th>
        <th scope="col" class="px-6 py-3">Location</th>
        <th scope="col" class="px-6 py-3">GPA</th>
        <th scope="col" class="px-6 py-3">IELTS</th>
        <th scope="col" class="px-6 py-3">TOEFL</th>
        <th scope="col" class="px-6 py-3 ">DET</th>
      </tr>
    </thead>
    <tbody class="border-2 border-y--black">
      {% for requirement in requirements %}
      <tr class="border-2 border-t-black">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><img
            src="{{ requirement["Images"] }}" alt="{{ requirement["Uni_Name"] }}"
            class="h-12 w-12 mr-2 inline-block">{{
          requirement["Uni_Name"] }}</td>
        <td class="px-6 py-4 text-center">{{ requirement["Location"] }}</td>
        <td class="px-6 py-4 text-center">{{ requirement["GPA"] |default("-",True) }}</td>
        <td class="px-6 py-4 text-center">{{ requirement["IELTS"] |default("-",True) }}</td>
        <td class="px-6 py-4 text-center">{{ requirement["TOEFL"] |default("-",True) }}</td>
        <td class="px-6 py-4 text-center">{{ requirement["DET"] |default("-",True) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1 class="text-center text-xl font-semibold">There is no university matching your filter</h1>
  {% endif %}
</div>
{% endblock content %}